.questions {
  margin-top: 575px;
  display: flex;
  align-items: center;
  position: absolute;
  text-align: center;
  color: #f5f5f7;
  width: 100%;
  flex-direction: column;
  padding: 24px 104px;
}

.questions h2 {
  display: flex;
  font-family: "Fuse V.2 Display";
  font-style: normal;
  font-weight: 800;
  font-size: 122px;
  line-height: 120px;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 50px;
  color: #ffffff;
}

.questions p {
  font-family: "Fuse V.2 Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  color: #f5f5f7;
}

.questions-icons {
  margin: 24px auto;
  display: flex;
  justify-content: center;
}

.questions-icon {
  justify-content: center;
  width: 30px;
  height: 30px;
  display: flex;
}

.questions-icon:not(:first-child) {
  margin-left: 31px;
}

.questions-icon:hover {
  background-color: gray;
}

.questions-icon img {
  display: flex;
  width: 23px;
}

.questions-inputs {
  margin-top: 105px;
  display: flex;
  flex-direction: column;
}

.questions-inputs input {
  padding-left: 25px;
  width: 504px;
  height: 66.36px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #f5f5f710;
}

.questions-inputs input::placeholder {
  font-family: "Fuse V.2 Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #f5f5f7;
}

.questions-inputs input:focus {
  outline: none;
}

.questions-inputs input:first-child {
  background: rgba(245, 245, 247, 0.05);
  backdrop-filter: blur(2px);
  border: none;
}

.questions-inputs div {
  width: 100%;
  margin-top: 8px;
  text-align: right;
  font-family: "Fuse V.2 Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #f5f5f7;
}

.questions-button:hover {
  background-color: white;
  color: black;
  border: white 10;
  border-image: linear-gradient(white, white) 10;
  transition: 0.5s ease;
}

.questions-button {
  letter-spacing: 0.08em;
  margin-top: 30px;
  font-family: "Fuse V.2 Display";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 35px;
  background-color: transparent;
  border-image: linear-gradient(
      124.93deg,
      rgb(13, 143, 211) 5.44%,
      rgb(11, 96, 187) 17.95%,
      rgb(10, 58, 167) 36.44%,
      rgb(106, 56, 125) 69.53%,
      rgb(197, 55, 84) 105.59%,
      rgb(250, 82, 64) 117.57%
    )
    10;
  border-image-width: 1px;
}

@media screen and (max-width: 900px) {
  .questions {
    padding: 24px;
  }

  .questions h2 {
    font-family: "Fuse V.2 Display";
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 68px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #ffffff;
  }

  .questions p {
    font-family: "Fuse V.2 Display";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .questions-icon {
    justify-content: center;
    width: 36px;
    height: 36px;
    display: flex;
  }

  .questions-inputs {
    margin-top: 36px;
    width: 100%;
  }

  .questions-inputs input {
    padding-left: 24px;
    width: 100%;
    height: 67px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #f5f5f710;
  }
  
  .questions-numbers {
    display: none;
  }

  .questions-button {
    font-family: "Fuse V.2 Display";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.08em;
  }
}
