


.ending h2{
    display: flex;
    font-family: 'Fuse V.2 Display';
    font-style: normal;
    font-weight: 800;
    font-size: 122px;
    line-height: 120px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 50px;
    color: #FFFFFF;
  }
  
  .ending p{
        font-family: 'Fuse V.2 Display';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        display: flex;
        color: #F5F5F7;
  }
  .ending{
    margin-top: 575px;
    display: flex;
    align-items: center;
    position: absolute;
    text-align: center;
    color: #F5F5F7;
    width: 100%;
    flex-direction: column;
  }
  
  .icons{
    margin: 24px auto;
    display: flex;
    justify-content: center;
  }
  .icon{
    display: flex;
  }
  .icon:not(:first-child){
    margin-left: 37px;
  }
  .inputs{
      margin-top: 105px;
    display: flex;
    flex-direction: column;
  }
  .inputs input:first-child{
    background: rgba(245, 245, 247, 0.05);
  backdrop-filter: blur(2px);
  border: none;
  }
  .inputs input{
    padding-left: 25px;
    width: 504px;
  height: 66.36px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #F5F5F710;
  }
  .inputs input::placeholder{
    font-family: 'Fuse V.2 Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F5F5F7;
  }
  .inputs input:focus {
    outline:none!important;
  }
  .inputs div{
      width: 100%;
      margin-top: 8px;
      text-align: right;
      font-family: 'Fuse V.2 Display';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.02em;
      color: #F5F5F7;
  }
  .ending{
      padding: 24px 104px;
  }

  @media screen and (max-width: 900px) {
    .ending h2{font-family: 'Fuse V.2 Display';
        font-style: normal;
        font-weight: 800;
        font-size: 54px;
        line-height: 68px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #FFFFFF;
      }
      .inputs{
        margin-top: 36px;
      }
      .inputs input{
        padding-left: 25px;
        width: 327px;
        height: 67px;
        border: none;
        background: transparent;
        border-bottom: 1px solid #F5F5F710;
      }



      .ending{
        padding: auto 24px;
    }
    
    
  footer{
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    font-family: 'Fuse V.2 Display';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
padding:42px 0 18px
  }
  .footer-icons{
    flex-direction: column-reverse;
 }







    }

    footer{
        width: 100%;
        border-top: 1px solid #F5F5F710;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Fuse V.2 Display';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #F5F5F7;
        padding:32px 104px 8px
      }
    
      .network-icons{
        display: flex;
        align-items: center;
        flex-direction: row;
      }
     .footer-icons{
        flex-direction: row;
        display: flex;
        align-items: center;
     }
     .network-icon{
        display: flex;
        justify-content: center;
        align-items: center;
     }